body {
   font-family: 'Dosis', sans-serif;
   font-size: 20px;
}

 h1 {
  font-size: 90px;
  font-weight: bolder;
   }

h2 {
padding-top: 30px;
text-align: center;
} 

h3 {
  font-size: 90px;
  color: #C4E4F5 ;
}

div.container-fluid {
  margin-left: 20%;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    width: 180px;
    align-content: center;
  }
  
  div.gallery:hover {
    border: 1px color(srgb red green rgb(0, 0, 255));
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    background-color: #98afba;
    text-align: center;
    color: white;
  }

  div.container {
    align-content: center;
  }

container mt-3 {
    padding-top: 10px;
  
}

.table {
    padding: 10px;
    border-style: solid;
    border-radius: 10%;
}

.th {
    text-align: center;
}

.nav-item {
  font-family: "Dosis", sans-serif;
  color: #354A54;
  font-size: 18px;
}
.navbar a:hover {
  background-color: #98AFBA;
}
.navbar a:active {
  background-color: rgb(26, 24, 24);
}

#footer a:hover {
  background-color: #C4E4F5;
}

#footer a:active {
  background-color: #C4E4F5;
}

